<!DOCTYPE html>
<html>

<head>
    <title>Matrix Operations Tool</title>
</head>

<body>
    <h1>Matrix Operations Tool</h1>

    <form action="/matrix" method="POST">

        <h2>Matrix A</h2>
        Rows
        <input type="number" name="rows1" min="1" required>
        Columns
        <input type="number" name="cols1" min="1" required>

        <br><br>

        <h2>Matrix B</h2>
        Rows
        <input type="number" name="rows2" min="1" required>
        Columns
        <input type="number" name="cols2" min="1" required>

        <br><br>

        <button type="submit">Next</button>

    </form>
</body>

</html>